/* 
- Font size in PX:
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 
/ 44 / 52 / 62 / 74 / 86 / 98

--- WHITE SPACE:
2 / 4 / 8 / 12 / 16 / 24 / 32 
/ 48 / 64 / 80 / 96 / 128
*/


/* 
///////////////////////
NAVIGATION BAR
///////////////////////
*/

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.4rem;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2) ;
    height: 8rem;
}

.navbar-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    gap: 3.2rem;
}

.navbar-item:link, .navbar-item:visited{
    text-decoration: none;
    color: #555;
    font-weight: 600;
}

.navbar-item:hover, .navbar-item:active{
    text-decoration: none;
    color: #333;
}

.navbar-icon:link, .navbar-icon:visited{
    text-decoration: none;
    color: #555;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing:1.5px;
    position: relative;
}

.navbar-icon::after{
    display: block;
    position: absolute;
    content: "";
    background-color: #ddd;
    height: 4.8rem;
    width: 4.8rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: -1;
}

.icon-number-part{
    display: inline-block;
    transform: rotate(15deg);
}



